<div class="register-container">

          <div class="mb-3">
            <h1>{{'welcomeToOurPage' | translate}}</h1>
          </div>
          <div  class="col-md-6">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet molestiae vel voluptatibus facere, blanditiis temporibus accusantium! Vero veritatis repudiandae, nam soluta esse qui aliquid debitis similique doloremque atque saepe cumque.</h4>
          </div>

  <button mat-raised-button (click)="register()">{{"Register" | translate}}</button>
</div>
